# Semana 5 -02
tinoco aguilar victor antonio

In [1]:
#2.1 Estructuras Decisivas(if,elif,else)

In [2]:
#if
#problema: dado el precio de 3 productos ingresados por el teclado
#aplicar un descuento de 10% si la venta es mayor a igual a 1000

In [4]:
P1=float(input("Producto 1: "))
P2=float(input("Producto 2: "))
P3=float(input("Producto 3: "))
total=P1++P2+P3
if total>=1000:
    total*=0.9
print(f"El total a pagar es:{total}")

Producto 1: 78
Producto 2: 964
Producto 3: 241
El total a pagar es:1154.7

In [5]:
#if-else
# Problema 01 (Recordando)
# Dado una lista de AMES, ARTEAGA, BARRIOS, BONIFACIO, BRAVO, CABALLERO, CAÑAZACA, FERNANDEZ, FLORES, GARCIA, HERRERA, HUERTA, HUERTAS, JIMENEZ, MAMANI, MANCILLA, PABLO, PAYE, PEÑA, PIZANGO, RAMOS, SANCHEZ, SEVILLANO, TINOCO, TORRES, VALDIVIESO, VELEZ, VILLANUEVA, ZUÑIGA ]
# Diseñar un código que muestre si el apellido de un estudiante (Ingresado por teclado) forma parte de la lista
apellidos = ['AMES', 'ARTEAGA', 'BARRIOS', 'BONIFACIO', 'BRAVO', 'CABALLERO', 'CAÑAZACA', 
'FERNANDEZ', 'FLORES', 'GARCIA', 'HERRERA', 'HUERTA', 'HUERTAS', 'JIMENEZ', 'MAMANI', 'MANCILLA', 
'PABLO', 'PAYE', 'PEÑA', 'PIZANGO', 'RAMOS', 'SANCHEZ', 'SEVILLANO', 'TINOCO', 'TORRES', 'VALDIVIESO', 
'VELEZ', 'VILLANUEVA', 'ZUÑIGA']

In [6]:
apellidos

['AMES',
 'ARTEAGA',
 'BARRIOS',
 'BONIFACIO',
 'BRAVO',
 'CABALLERO',
 'CAÑAZACA',
 'FERNANDEZ',
 'FLORES',
 'GARCIA',
 'HERRERA',
 'HUERTA',
 'HUERTAS',
 'JIMENEZ',
 'MAMANI',
 'MANCILLA',
 'PABLO',
 'PAYE',
 'PEÑA',
 'PIZANGO',
 'RAMOS',
 'SANCHEZ',
 'SEVILLANO',
 'TINOCO',
 'TORRES',
 'VALDIVIESO',
 'VELEZ',
 'VILLANUEVA',
 'ZUÑIGA']

In [8]:
apellido_buscar = input("Ingrese el apellido a buscar: ")

if apellido_buscar.upper() in apellidos:
    print("El apellido", apellido_buscar, "forma parte de la lista.")
else:
    print("El apellido", apellido_buscar, "no forma parte de la lista.")

Ingrese el apellido a buscar: TORRES
El apellido TORRES forma parte de la lista.

In [9]:
apellido_buscar = input("Ingrese el apellido a buscar: ")

if apellido_buscar.upper() in apellidos:
    print("El apellido", apellido_buscar, "forma parte de la lista.")
else:
    print("El apellido", apellido_buscar, "no forma parte de la lista.")

Ingrese el apellido a buscar: VEGA
El apellido VEGA no forma parte de la lista.

In [10]:
# Problema 02
# Dado el importe total de ventas realizadas por un trabajador (ingresado por teclado,
# categorizar que tipo de empleado es, considerando la siguiente tabla:

# Categoria: A -> [0, 1000]
# Categoria: B -> <1000, 2000]
# Categoria: C -> <2000, 5000]
# Categoría: D -> <5000, Mas]

In [11]:

ventas = float(input("Importe de ventas realizadas: "))
if ventas < 0:
    print("Datos erroneos")
else:
    if ventas<=1000:
        print("Categoria A")
    else:
        if ventas <=2000:
            print("Categoria B")
        else:
            if ventas <= 5000:
                print("Categoria C")
            else:
                print("Categoria D")

Importe de ventas realizadas: 10000
Categoria D

In [13]:
ventas = float(input("Ingrese el importe total de ventas realizadas por el trabajador: "))

if ventas <= 1000:
    categoria = "A"
elif ventas <= 2000:
    categoria = "B"
elif ventas <= 5000:
    categoria = "C"
else:
    categoria = "D"

print("El trabajador pertenece a la categoría:", categoria)

Ingrese el importe total de ventas realizadas por el trabajador: 3200
El trabajador pertenece a la categoría: C

In [14]:
#2.2 estructuras repetitivas: for

In [15]:
aula=['Barrios','Sevillano','Huertas','Zuñiga','Tinoco']

In [16]:
aula

['Barrios', 'Sevillano', 'Huertas', 'Zuñiga', 'Tinoco']

In [17]:
#por cada alumno que esta en la lista, imprimir alumno
for alumno in aula:
    print(alumno)

Barrios
Sevillano
Huertas
Zuñiga
Tinoco

In [20]:
cadena =input("ingresa cadena: ")
for caracter in cadena:
    print(caracter)

ingresa cadena: hola
h
o
l
a

In [21]:
# Para generar rangos de números utilizamos range()
range(5)
# [0, 5>

range(0, 5)

In [22]:
# Problema 02
# Imprimir los números de 0 a 10, utilizando for
for numero in range(11):
    print (numero)

0
1
2
3
4
5
6
7
8
9
10

In [23]:
# Problema 03
# Imprimir los números de 5 a 10, utilizando for
for numero in range(5,11):
    print (numero)

5
6
7
8
9
10

In [24]:
# Problema 02
# Imprimir los números de 10 a 20, utilizando for
for numero in range(10, 22, 2):
    print (numero)

10
12
14
16
18
20

In [26]:
# Problema 02
# Imprimir los números de 10 a 20, utilizando for
for numero in range(10, 22, 3):
    print (numero)

10
13
16
19

In [27]:
# while
# Permite ejecutar un conjunto de acciones mientras se cumpla una condición

In [28]:
# Ejemplo:
numero = 1
fin = 10
while numero <= fin:
    print(numero)
    numero+=1

1
2
3
4
5
6
7
8
9
10